<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    {% comment %} <div class="footer-col-wrapper">
      <div class="footer-col">
      </div>
      <div class="footer-col">
        {% comment %} <p>{{ site.description | escape }}</p> {% endcomment %}
      </div>
    </div> {% endcomment %}

    <div class="social-links">  
    <ul class="social-media-list">
    <li><a rel="me" href="https://twitter.com/nextstepfm" title="{{ social.twitter | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>@nextstepfm</a></li>
    <li><a rel="me" href="https://podcasts.apple.com/jp/podcast/nextstep-fm/id1195728207"><img src="{{ '/images/applepodcast.svg' | relative_url }}" width="16px"/> Apple Podcast</a></li>
    <li><a rel="me" href="https://podcasts.google.com/feed/aHR0cDovL2ZlZWRzLnNvdW5kY2xvdWQuY29tL3VzZXJzL3NvdW5kY2xvdWQ6dXNlcnM6MjgxODc5ODgzL3NvdW5kcy5yc3M?sa=X&ved=0CAIQ4aUDahcKEwj4gJ-_-KvsAhUAAAAAHQAAAAAQCg"><img src="{{ '/images/googlepodcast.svg' | relative_url }}" width="16px"/> Google Podcast</a></li>
    
    </ul>
    </div>

  </div>
</footer>