<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    nextstep.fm - original member　
    <img src="{{site.baseurl}}/images/k_katsumi.jpg" style="border-radius:50%;width:36px;height:36px;border: 1px solid #00cc00;"/>
    　
    <img src="{{site.baseurl}}/images/sonson_twit.png" style="border-radius:50%;width:36px;height:36px;border: 1px solid #00cc00;"/>
    　
    <img src="{{site.baseurl}}/images/7gano.jpg" style="border-radius:50%;width:36px;height:36px;border: 1px solid #00cc00;"/>

  </div>

</footer>