<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {% comment %} <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> {% endcomment %}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{site.baseurl}}/images/logo.jpg" alt="" width="64" height="64" style="margin:10px;10px;10px;10px;"></a>
  
    {%- if titles_size > 0 -%}
    
      <nav class="site-nav">
        <div class="trigger">
          <p style="padding-top:12px;">{{ site.title | escape }}</p>
            {% comment %} <a href="{{site.baseurl}}/about/">About</a> {% endcomment %}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>